.notfound {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    height: 100vh;
}

.notfound img {
    width: 38%;
    height: 73%;
    border-radius: 50%;
}

.link {
    margin: 21px 0;
    width: 150px;
    height: 50px;
    background-color: rgb(0 0 0);
    border-radius: 10px 25px 21px 40px;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 12px;
}

@media only screen and (max-width: 480px) {
    .notfound img {
        width: 74%;
        height: 41%;
        border-radius: 50%;
    }
}